<header>
  <a class="bar" (click)="sidebar()">
    <img src="/assets/menu.png" alt="" />
  </a>
  <h2 class="title">Admin Dashboard</h2>
  <ul class="pc-ul">
    <!-- <li>
      <a routerLink="/home">Home</a>
    </li> -->

    <li class="submenu-parent" *ngIf="reportsLinkPermission">
      <a class="sub" routerLinkActive="active"
        >Member
        <mat-icon>keyboard_arrow_down</mat-icon>
        <ul class="submenu">
          <li><a routerLink="/list-member">List Member</a></li>
          <li><a routerLink="/create-member">Add Member</a></li>
        </ul>
      </a>
    </li>
    <!-- <li class="submenu-parent">
      <a class="sub" routerLinkActive="active"
        >Graph
        <mat-icon>keyboard_arrow_down</mat-icon>
        <ul class="submenu">
          <li><a routerLink="/graph">Dashboard1</a></li>
          <li><a routerLink="/set-alarm">Set Alarm</a></li>
        </ul>
      </a>
    </li> -->
    <!-- <li>
      <a>Wallboard</a>
    </li> -->
    <li>
      <a routerLink="/list-divisions" routerLinkActive="active">Category</a>
    </li>
    <li>
      <a routerLink="/list-sub-divisions" routerLinkActive="active"
        >Sub Category</a
      >
    </li>
    <li>
      <a routerLink="/list-permission-group-item" routerLinkActive="active"
        >Sub Sub Category</a
      >
    </li>

    <!-- <li>
      <a routerLink="/add-protik" routerLinkActive="active"> add-protik </a>
    </li> -->

    <li class="submenu-parent">
      <a class="sub" routerLinkActive="active"
        >User
        <mat-icon>keyboard_arrow_down</mat-icon>
        <ul class="submenu">
          <!-- <li><a routerLink="/list-user">user</a></li> -->
          <li class="submenu-2-parent">
            <a class="sub" routerLink="/list-user">List User </a>
          </li>
          <li><a routerLink="/reset-password">Reset Password</a></li>
          <li><a routerLink="/list-role">Role</a></li>
          <li><a routerLink="/list-permission-group">Permission Group</a></li>
          <li>
            <a routerLink="/list-permission-group-item"
              >Permission Group Item</a
            >
          </li>
        </ul>
      </a>
    </li>
    <li class="submenu-parent">
      <a class="sub" routerLinkActive="active"
        >{{ loggedInName }}
        <mat-icon>keyboard_arrow_down</mat-icon>
        <ul class="submenu">
          <li><a routerLink="/view-profile">View Profile</a></li>
          <li><a routerLink="/change-password">Change Password</a></li>
          <li><a style="cursor: pointer" (click)="onLogOut()">Logout</a></li>
        </ul>
      </a>
    </li>

    <!-- <h3>Hello - {{loggedInEmail}}</h3> -->
  </ul>
</header>

<div class="responsive">
  <ul [class]="sidebarClick ? 'activeSidebar' : 'inActiveSidebar'">
    <li>
      <a routerLink="/list-role" routerLinkActive="active">Role</a>
    </li>
    <li>
      <a routerLink="/list-permission-group" routerLinkActive="active"
        >permission Group</a
      >
    </li>
    <li>
      <a routerLink="/list-permission-group-item" routerLinkActive="active"
        >Permission Group Item</a
      >
    </li>
    <li>
      <a routerLink="/list-company" routerLinkActive="active">Company</a>
    </li>
    <!-- <li>
            <a>Company Device</a>
        </li>
        <li>
            <a>Company Device Alert</a>
        </li> -->

    <li>
      <a routerLink="/list-device" routerLinkActive="active">Device</a>
    </li>
    <li>
      <a>Reports </a>
    </li>
    <li>
      <a>Graph</a>
    </li>
    <li>
      <a>Dashboard</a>
    </li>
    <li>
      <a>Wallboard</a>
    </li>

    <li>
      <a style="cursor: pointer" (click)="onLogOut()"> Logout</a>
    </li>
    <!-- <h3>Hello - {{loggedInEmail}}</h3> -->
  </ul>
</div>

<div (click)="handleOutsideClick()">
  <router-outlet></router-outlet>
</div>
