header {
    background-color: #18215D;
    height: 30px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 1000000000000;
    .pc-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        list-style: none;
        margin: auto;

        li {
            .mat-button {

                color: #FFFF;
            }

            a {
                color: rgb(255, 255, 255);
                font-family: 'Ubuntu', sans-serif;
                font-weight: 500;
                padding: 3px 6px;
                font-size: 14px;
                display: block;
                position: relative;
                cursor: pointer;
                text-decoration: none;

                &::after {
                    content: "";
                    width: 0px;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                    position: absolute;
                    left: 0px;
                    bottom: -1px;
                    transition: all 0.3s linear 0s;
                }

                &:hover::after {
                    width: 100%;
                }
            }

        }

        h3 {
            color: #FFFF;
            font-size: 16px;
            margin-bottom: 0px;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 18px;
        }
    }
}



.active {
    color: #ffffff !important;

    &::after {
        content: "";
        width: 100% !important;
    }


}

.second {

    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 16px;
        padding: 0 2px;
        border-radius: 4px;
        overflow: visible;
    }
}

.bar {
    display: none;

    img {
        width: 25px;
        height: 25px;
        object-fit: cover;
        object-position: center;
    }
}

.title {
    display: none;
}

.responsive {
    display: none;
    ul {
        visibility: hidden;
 
    }
}

@media(max-width:767px) {
    .title {
        display: block;
        text-align: center;
        color: #FFF;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-left: 15px;

    }

    header {
        background-color: #18215D;
        justify-content: flex-start;
        padding-left: 20px;
        width: calc(100vw - 10px);
        position: sticky;

    }

    header .pc-ul {
        display: none;
    }

    .bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    //responsive header
    .responsive {
        display: block;
     
        ul {
            margin-top: 60px;
            visibility: visible;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            position: absolute;
            top: -15px;
            left: -100%;
            width: 250px;
            height: 100%;
            z-index: 1000;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: #FFFF;
            transition: all 0.3s ease-in-out;

            li {
                a {
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 500;
                    padding: 3px 6px;
                    font-size: 14px;
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                }

                .active {
                    color: #18215D !important;
                }
            }

        }
    }

    ::ng-deep .mat-raised-button {
        min-width: 24px;
        padding: 0 3px;
    }
}
.responsive{
    .activeSidebar {
        left: 0px;
        transition: all 0.3s ease-in-out;
    }
}

.responsive{
    .inActiveSidebar {
        // background-color: rgb(134, 30, 30)!important;
        left: -100%;
        transition: all 0.3s ease-in-out;
    }
}



///prac
/// 

// submenu
.submenu-parent,  .submenu-2-parent {
    position: relative;

    a {
        display: flex !important;
        align-items: start;
        justify-content: start;

    }

    .sub {
        padding-left: 10px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.submenu, .submenu2{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000!important;
    visibility: hidden;
    background-color: #1E055D;
    box-sizing: border-box;
    padding: 0px 0px !important;
    gap: 0px !important;
    width: 100%;
    height: auto;
    min-width: 165px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    list-style: none;

    li {
        margin-bottom: 0px !important;
        width: 100%;
    }

    a {
        font-size: 15px;
        padding: 8px 0px 8px 5px!important;
        border-radius: 0px !important;
        border-bottom: 1px solid #FFFF;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        text-align: left;

        &:hover {
            background-color: #FFF;
            color: #0F0E24 !important;
            border-left: 1px solid #0F0E24;
            border-right: 1px solid #0F0E24;
        }
    }

}

.submenu-parent:hover .submenu {
    visibility: visible;
}

.submenu2 {
    position: absolute;
    top: 20%;
    left: 100%;
    z-index: 10000!important;
    visibility: hidden;
}

.submenu-2-parent:hover .submenu2 {
    visibility: visible;
}




//extra common css for multiple page 

::ng-deep .mat-raised-button {
    min-width: 36px!important;
    line-height: 25px!important;
    padding: 0 10px!important;
    border-radius: 2px!important;
    font-size: 13px!important;
  }
  
  ::ng-deep .mat-form-field-infix {
    min-width: 0;
    width: 110px!important;
  }
  
  ::ng-deep .mat-icon{
    height: 18px!important;
    width: 18px!important;
  }
  ::ng-deep .material-icons {
    font-size: 18px!important;
  }