<div class="section-1">



    <div class="container">
      <!-- (click)="openEditControllerDialog()" -->
  
  
      <div class="top-flex">
        <div class="title-top">
          <h1>Data of All MQTF Log Rows</h1>
          <button mat-raised-button color="primary" (click)="exportCSV()">CSV</button>
        </div>
  
        <div class="search">
  
          <form action="" [formGroup]="searchForm" (ngSubmit)="onSearchClick(page)">
            <mat-form-field>
              <mat-label>Device Id </mat-label>
              <mat-select formControlName="device_id" name="Device Id">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of serverCompanyDevice" [value]="item.DeviceID" required>
                  {{item.DeviceID}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            
            <mat-form-field>
              <mat-label>Company</mat-label>
              <mat-select formControlName="user_company" name="user company">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of allCompany" [value]="item.id" required>
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
    
            <button mat-raised-button color="accent" type="submit" [disabled]="searchClicked"><mat-icon>search</mat-icon>
              Search</button>
    
            <div class="clear">
              <button mat-raised-button color="primary" (click)="onClearFilter()">
                <mat-icon>clear</mat-icon> Clear Filter</button>
            </div>
          </form>
    
        </div>
      </div>
  
  

      <div class="table-container">
        <table id="ExampleTable">
          <tr>
            <th>Actions</th>
            <th>SL No.</th>
            <th>DeviceID</th>
            <th>Company</th>
            <th>Log</th>
            <th>Insert Time</th>
          </tr>
          <tr 
          *ngFor="let data of allMqtfLogRows | paginate: { itemsPerPage: itemsPerPage, currentPage: page , totalItems:totalItems}; let i = index"
          >
          <!-- <pre>{{data | json}}</pre> -->
          <td class="td-action">
            <!-- <button mat-icon-button color="primary"  *ngIf="editUserPermission" (click)="editUser(data)" class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="deleteUserPermission" (click)="openConfirmDialog(data)" class="delete-button">
              <mat-icon>delete</mat-icon>
            </button> -->
  
              <button mat-icon-button color="warn"  (click)="openVisibilityDialog(data)" class="delete-button">
                <mat-icon>visibility</mat-icon>
            </button>
          </td>
          <td style="font-weight: 500;">{{ (i + 1) + (page - 1) * itemsPerPage }}</td>
            <td class="full-name">{{data?.DeviceID}} </td>
            <td>{{data?.companyName}}</td>
            <td>{{data?.log}}</td>
            <td>{{ data?.insert_time | date: ' MMM d, y - h:mm:ss a' }}</td>
          </tr>
        </table>
    
      </div>
  
  
      <div class="data-pagination" *ngIf="showPegination">
        <pagination-controls (pageChange)="getAllMqtfLogRows((page = $event))"></pagination-controls>
      </div>
  
  
    </div>
  </div>
  
  
  <!-- TEMPLATE NGX SPINNER-->
  <ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
    type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>