<div class="container">
    <div class="alarm-parent">
        <div class="alarm-container">
            <h1>Temperature 1</h1>
            <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>
        
                <div class="min-max">
                    <h2>Min</h2>
                    <mat-slider  formControlName="minTemp1" thumbLabel 
                    [displayWith]="formatLabel" 
                    tickInterval="10" step="10" min="-20" max="100"
                        aria-label="units"></mat-slider>
                </div>
                <div class="min-max">
                    <h2>Max</h2>
                    <mat-slider thumbLabel formControlName="maxTemp1" [displayWith]="formatLabel" 
                    tickInterval="10" step="10" min="-20" max="100"
                        aria-label="units"></mat-slider>
                </div>
                <mat-slide-toggle formControlName="alarmTemp1">Alarm</mat-slide-toggle>
                <button  mat-raised-button color="primary" type="submit">Save Settings</button>
              </form>
        
        </div>
        
        
        <div class="alarm-container">
            <h1>Temperature 2</h1>
            <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>
        
                <div class="min-max">
                    <h2>Min</h2>
                    <mat-slider  formControlName="minTemp1" thumbLabel [displayWith]="formatLabel" 
                    tickInterval="10" step="10" min="-20" max="100"
                        aria-label="units"></mat-slider>
                </div>
                <div class="min-max">
                    <h2>Max</h2>
                    <mat-slider thumbLabel formControlName="maxTemp1" [displayWith]="formatLabel"
                    tickInterval="10" step="10" min="-20" max="100"
                        aria-label="units"></mat-slider>
                </div>
                <mat-slide-toggle formControlName="alarmTemp1">Alarm</mat-slide-toggle>
                <button  mat-raised-button color="primary" type="submit">Save Settings</button>
              </form>
        
        </div>
        
        
        
        <div class="alarm-container">
            <h1>Voltage 1</h1>
            <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>
        
                <div class="min-max">
                    <h2>Min</h2>
                    <mat-slider  formControlName="minTemp1" thumbLabel [displayWith]="formatLabel"
                    tickInterval="10" step="10" min="100" max="300"
                        aria-label="units"></mat-slider>
                </div>
                <div class="min-max">
                    <h2>Max</h2>
                    <mat-slider thumbLabel formControlName="maxTemp1" [displayWith]="formatLabel"
                    tickInterval="10" step="10" min="100" max="300"
                        aria-label="units"></mat-slider>
                </div>
                <mat-slide-toggle formControlName="alarmTemp1">Alarm</mat-slide-toggle>
                <button  mat-raised-button color="primary" type="submit">Save Settings</button>
              </form>
        
        </div>
    </div>
</div>