.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 45px);
    background-color: #95b4e0; /* Background color */
  }
  
  .reset-password-card {
    width: 400px;
    text-align: center;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    span{
      font-size: 12px;
      line-height: 14px;
    }
  }
  
  .full-width {
    width: 100%;
  }