@import 'src/app/shared/theme/table_style.scss';

.section-1{
    padding-top: 10px;
    h1{
      text-align: center;
      margin-bottom: 15px;
    }
   }
   .container{
    max-width: 1250px;
    margin: auto;
   }

  
  
  .add-user{
    padding: 0px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  button{
    cursor: pointer;
  }



  //table

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #f0f0f0;

}


table tr {
  border-bottom: 2px solid #f0f0f0;
  
}

table th {
  font-size: 14px;
  font-weight: 500;
  color: #FFFF;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  background-color: #00BB65;
}

table td {
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}

table tr:nth-child(odd) {
  background-color: #F6F6F6;
}

table tr:nth-child(even) {
  background-color: #E9E9E9;
}

tr{
  height: 30px;
}
::ng-deep tr.mat-header-row {
  height: 30px!important;
}

.add {

  .mat-flat-button.mat-primary,
  .mat-raised-button.mat-primary,
  .mat-fab.mat-primary,
  .mat-mini-fab.mat-primary {
    background-color: #60c526;
    font-weight: 600 !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 32px;
  }
}
.add-export{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  h1{
    margin-bottom: 0px;
    font-size: 20px;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 5px;
  }

}

@media(max-width:1250px) {
  .table-container {
    width: calc(100vw - 10px);
    overflow-x: scroll;
    margin: auto;
    max-width: 80%;
  }

  .top-flex {
    flex-direction: column;
    gap: 10px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      padding-bottom: 5px;
    }

  }
  ::ng-deep .mat-paginator-container{
  max-width: 90%!important;
  margin: auto;
  }

}

.td-action{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.edit-button,
.delete-button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFF;
  font-size: 9px;
  border: none;
  cursor: pointer;

  &:hover {
    scale: 1.4;
    transition: 0.2s linear all;
  }
}


.edit-button {
  background-color: rgb(82, 192, 19);
}

.delete-button {
  background-color: red;
}

.edit-delete {
  display: flex;
  gap: 5px;
}



.mat-raised-button.mat-primary {
  font-weight: 500 !important;
  font-family: 'Ubuntu', sans-serif;
  line-height: 28px;
}
  .mat-raised-button.mat-primary {
    background-color: #e7561d;
  }

.big{
  max-width: 130px;
}

.created-updated{
  p{
    margin-bottom: 0px;
  }
}