<div class="user-name-close">
    <h2>User Detail - </h2>
<button mat-icon-button type="button" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
</div>
<div class="user-info">

<div class="user-img">
    <img class="pdf-image" src="http://localhost:3000/{{userData?.photo}}" alt="User Image">
</div>
   <div class="user-data">
    <p><span>Name :</span> {{userData?.name}}</p>
    <p><span>Email :</span> {{userData?.email}}</p>
    <p><span>Phone No:</span> {{userData?.mobile}}</p>
    <p><span>Role Name :</span> {{userData['test_role'].name}}</p>
    <p *ngIf="showCompanyName"><span>Company Name: </span> {{userData?.company_name}}</p>
    <p><span>Address: </span> {{userData?.address}}</p>
    <p><span>User Type: </span> {{userData?.user_type}}</p>    
    <p><span>Gender :</span> {{userData?.gender}}</p>
    <p><span>Status :</span> {{userData?.status===0? 'Inactive': 'Active'}}</p>
    <p><span>Created time:</span> {{userData?.created_time | date : ' MMM d, y - h:mm:ss a' }}</p>
    <p><span>Created By:</span> {{userData?.created_by_name ? userData?.created_by_name : 'N/A'}}</p>
    <p><span>Updated time :</span> {{userData?.updated_time | date : ' MMM d, y - h:mm:ss a' }}</p>
    <p><span>Updated By:</span> {{userData?.updated_by_name ? userData?.updated_by_name : "N/A"}}</p>
   </div>
</div>