<div class="section-1">
  <div class="container">
    <div class="section-1-main">
      <h2>
        Add Question to <span>{{ companyName }}</span>
      </h2>
    </div>
    <!-- 
    <h3 style="text-decoration: underline; font-weight: 500">
      List of Questions
    </h3>
    <p *ngIf="companyDeviceFromApi?.length == 0">
      No Device is added to this company yet
    </p>
    <ng-container *ngFor="let item of companyDeviceFromApi">
      <div class="inputs">
        <mat-form-field readonly>
          <mat-label>Select Device Model No</mat-label>
          <mat-select [(ngModel)]="item.ModelNo" name="ModelNo" readonly>
            <mat-option
              *ngFor="let item of serverDevice"
              [value]="item.ModelNo"
              disabled
            >
              <p>
                <span style="font-size: 13px">( {{ item.ModelNo }} )</span>
              </p>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-data-input-field" appearance="outline">
          <mat-label>Device Id</mat-label>
          <input
            [(ngModel)]="item.DeviceID"
            type="text"
            matInput
            placeholder="Enter Device Id"
            readonly
          />
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-checkbox
          [(ngModel)]="item.DeviceWarranty"
          [disableRipple]="true"
          (click)="$event.preventDefault()"
          >Device Warranty</mat-checkbox
        >
        <div class="warranty" *ngIf="item.DeviceWarranty">
          <mat-form-field
            [style.width.px]="140"
            class="mat-date-input-field"
            appearance="outline"
          >
            <mat-label>Start Date</mat-label>
            <input
              [(ngModel)]="item.DeviceWarrantyStartDate"
              matInput
              [matDatepicker]="startPicker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startPicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
            [style.width.px]="140"
            class="mat-date-input-field"
            appearance="outline"
          >
            <mat-label>End Date</mat-label>
            <input
              [(ngModel)]="item.DeviceWarrantyEndDate"
              matInput
              [matDatepicker]="endPicker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endPicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="mat-data-input-field" appearance="outline">
            <mat-label>Device Warranty Remarks</mat-label>
            <input
              [(ngModel)]="item.DeviceWarrantyRemarks"
              type="text"
              matInput
              placeholder="Enter Device Warranty Remarks..."
            />
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <button
          *ngIf="editDeletePermission"
          class="delete-button"
          mat-icon-button
          color="warn"
          (click)="openConfirmDialog(item)"
          type="button"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="editDeletePermission"
          class="edit-button"
          mat-icon-button
          color="primary"
          (click)="openEditControllerDialog(item)"
          type="button"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ng-container> -->

    <form [formGroup]="dataForm" class="parentForm" (ngSubmit)="onSubmit()">
      <div>
        <h3 style="text-decoration: underline; font-weight: 500">
          Add New Quiz -
        </h3>
        <span style="color: red">* Field should be required</span>
        <div
          formArrayName="credentials"
          *ngFor="
            let creds of dataForm.get('credentials')['controls'];
            let i = index
          "
        >
          <ng-container [formGroupName]="i">
            <div class="inputs">
              <mat-form-field
                [style.width.px]="140"
                class="mat-date-input-field"
                appearance="outline"
              >
                <mat-label>Start Date</mat-label>
                <input
                  formControlName="questionStartDate"
                  matInput
                  [matDatepicker]="startPicker"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="startPicker">
                  <mat-icon matDatepickerToggleIcon
                    >keyboard_arrow_down</mat-icon
                  >
                </mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Question</mat-label>
                <input
                  formControlName="question"
                  type="text"
                  matInput
                  placeholder="Enter Device Id"
                />
                <mat-error> Question be unique and required </mat-error>
              </mat-form-field>

              <div
                class="answer"
                formArrayName="options"
                *ngFor="
                  let answer of creds.get('options').controls;
                  let j = index
                "
              >
                <ng-container [formGroupName]="j">
                  <mat-form-field
                    class="mat-data-input-field"
                    appearance="outline"
                  >
                    <mat-label>Option {{ j + 1 }}</mat-label>
                    <input
                      formControlName="value"
                      type="text"
                      matInput
                      placeholder="Enter Answer"
                    />
                    <mat-error>Option is required</mat-error>
                  </mat-form-field>

                  <button
                    class="delete-button"
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeAnswer(i, j)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
              </div>
              <button
                class="add-answer-button"
                mat-icon-button
                color="primary"
                type="button"
                (click)="addAnswer(i)"
              >
                <mat-icon>add</mat-icon>
              </button>
              <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Correct Answer</mat-label>
                <input
                  formControlName="correctOption"
                  type="number"
                  matInput
                  placeholder="Enter Answer"
                />
              </mat-form-field>
            </div>
            <button
              class="delete-button"
              mat-icon-button
              color="warn"
              type="button"
              (click)="removeCredential(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="add-button">
        <a mat-raised-button color="primary" (click)="addCreds()">Add More</a>
      </div>
      <button
        mat-raised-button
        [disabled]="dataForm.invalid || dataForm.value.credentials.length === 0"
        color="warn"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner
  style="width: 100vw; height: 100vh"
  bdColor="rgba(0,0,0,0.25)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
