.section-1-main {
  margin-top: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 15px !important;
  }
}
.inputs {
  display: flex;
  align-items: center;
  gap: 15px;
}
.answer {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  span {
    color: rgb(24, 24, 151);
  }
}
.data-form {
  border: 2px solid blue;
  padding: 20px;
  border-radius: 10px;
}
.data-from-inputs {
  gap: 5px;
  gap: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.warranty {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
::ng-deep .mat-form-field-infix {
  display: flex !important;
  align-items: center !important;
}

.add-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  button {
    margin: auto;
  }
}

.delete-button,
.edit-button {
  border-radius: 50%;
  padding: 5px;
  height: 25px;
  width: 25px;
  /* Adjust padding to your preference */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-size: 8px;
  transition: 0.3s ease;
  &:hover {
    scale: 1.3;
  }
}
.delete-button {
  background-color: rgb(212, 40, 40);
}
.edit-button {
  background-color: rgb(64, 197, 38);
}

::ng-deep .mat-icon {
  height: 20px !important;
  width: 20px !important;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 20px !important;
}

::ng-deep .material-icons {
  font-size: 20px !important;
}

::ng-deep input.mat-input-element {
  margin-top: -0.0625em;
  color: rgb(8, 8, 8);
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

// ::ng-deep .mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
//     border-color: rgb(105, 16, 128)!important;
//     color:rgb(105, 16, 128)!important
// }

// ::ng-deep  .mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
//     caret-color:rgb(105, 16, 128)!important
// }
