<div class="dialog-container">
<div class="close-add">
    <div class="close">
        <button mat-icon-button type="button" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="top-input-header">
        <div class="title">
            <h2> {{ companyData ? "Edit Company" : "Add Company" }}</h2>
        </div>
    </div>
</div>

    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-main">
            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput placeholder="Enter Name" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Contact Name</mat-label>
                <input type="text" formControlName="contactName" matInput placeholder="Enter contactName" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input type="number" formControlName="contactNumber" matInput placeholder="Enter contactNumber" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Contact Email</mat-label>
                <input type="email" formControlName="contactEmail" matInput placeholder="Enter contactEmail" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Contact Address</mat-label>
                <input type="text" formControlName="contactAddress" matInput placeholder="Enter contactAddress" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Connection Address</mat-label>
                <input type="text" formControlName="connectionAddress" matInput placeholder="Enter connectionAddress" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>



            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Max User</mat-label>
                <input type="number" formControlName="maxUser" matInput placeholder="Enter maxUser" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Max Role</mat-label>
                <input type="number" formControlName="maxRole" matInput placeholder="Enter maxRole" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>Max Device</mat-label>
                <input type="number" formControlName="maxDevice" matInput placeholder="Enter maxDevice" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="mat-data-input-field" appearance="outline">
                <mat-label>remarks</mat-label>
                <input type="text" formControlName="remarks" matInput placeholder="Enter remarks">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>This field is required</mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" name="status">
                    <mat-option *ngFor="let item of allStatus" [value]="item.value" required>
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>
        <button mat-raised-button color="primary" type="submit" placeholder="Enter role name">
            {{ companyData ? "Update" : "Add" }}
        </button>


        <a style="margin-left: 5px;" mat-raised-button color="accent" *ngIf="companyData" (click)="resetEditForm()">Reset
            Data</a>
        <a style="margin-left: 5px;" mat-raised-button color="accent" *ngIf="!companyData" (click)="resetAddForm()">Reset
            Data</a>
    </form>
</div>