.container {
  position: relative;
  width: 100%;
  height: 250px; /* Set the height of the container */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Use 100% height to cover the entire container */
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Use 100% height to cover the entire container */
  background-color: rgba(42, 24, 122, 0.822);
  z-index: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Set text color */
  text-align: center; /* Center-align the text */
  z-index: 1000;

  h1 {
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    position: relative;

    &::after {
      content: ""; /* Add this line to ensure the pseudo-element is generated */
      position: absolute;
      width: 65%;
      height: 3px;
      background-color: #fff;
      bottom: -5px; /* Position the border at the bottom of the h2 */
      left: 18%;
    }
  }
}

.ashon-no {
  border: 7px solid #7594f2;
  background: #547cf5;
  width: 150px;
  height: 60px;
  color: #000;
  // border-radius: 50%;
  text-align: center;
  margin-right: 30px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0px;
  }
}
//card
.card-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.card {
  padding: 15px 10px;
  border-radius: 10px;
  color: #1f194d;
  max-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  height: 80px;
  img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  ::ng-deep .mat-icon {
    height: 20px !important;
    width: 20px !important;
  }
  ::ng-deep .material-icons {
    font-size: 20px !important;
  }
  .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
  }
  h2 {
    margin-bottom: 0px;
    font-size: 26px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    margin-left: 5px;
  }
  p {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 0px;
  }
}

.card-user {
  background: linear-gradient(90deg, #ffbf96, #fe7096);
  .icon {
    background-color: #ff1973;
  }
}

.card-comapny {
  background: linear-gradient(90deg, #90caf9, #047edf 99%);
  .icon {
    background-color: #047edf;
  }
}

.card-device {
  background: linear-gradient(90deg, #84d9d2, #07cdae);
  .icon {
    background-color: #11b39d;
  }
}

.card-company-device {
  background: linear-gradient(90deg, #84d9d2, #07cdae);
  max-width: 270px;
  .icon {
    background-color: #11b39d;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    span {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.parthi {
  margin-top: 20px;
  .nirbachon-tottho {
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      width: 12%;
      height: 3px;
      background-color: rgb(33, 151, 29);
      position: absolute;
      bottom: 0;
      left: 44%;
    }
    &::before {
      content: "";
      width: 25%;
      height: 1px;
      background-color: #37eb55;
      position: absolute;
      bottom: 1px;
      left: 38%;
    }
  }
}

.parthi-container {
  max-width: 230px;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    scale: 1.05;
  }
  .img-container {
    border: 2px solid rgb(33, 151, 29);
    border-radius: 5px;
  }
  img {
    max-width: 100%;
  }
  .name {
    color: rgb(64, 64, 204);
    font-size: 22px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    color: #000000cc;
    margin-bottom: 0px;
  }
}
