<div class="close-add">
    <button mat-icon-button type="button" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
    <h2>Edit Company Device Data</h2>

</div>

<form action="" #formElement="ngForm" [formGroup]="deviceForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="inputs">

        <mat-form-field>
            <mat-label>Select Device Model No</mat-label>
            <mat-select formControlName="ModelNo" name="ModelNo">
                <mat-option *ngFor="let item of serverDevice" [value]="item.ModelNo">
                    <p>
                        <!-- <span style="font-size: 15px; font-weight: 500;">{{item.Name}}</span> -->
                        <span style="font-size: 13px;">( {{item.ModelNo}} )</span>
                    </p>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-data-input-field" appearance="outline">
            <mat-label>Device Id</mat-label>
            <input formControlName="DeviceID" type="text" matInput placeholder="Enter Device Id">
            <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="DeviceWarranty"  [checked]="deviceForm.get('DeviceWarranty').value">Device
            Warranty</mat-checkbox>
        <!-- <pre>{{creds.get('warranty').value | json}}</pre> -->
        <div class="warranty" *ngIf="deviceForm.get('DeviceWarranty').value">
            <mat-form-field [style.width.px]=140 class="mat-date-input-field" appearance="outline">
                <mat-label>Start Date</mat-label>
                <input formControlName="DeviceWarrantyStartDate" matInput [matDatepicker]="startPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="startPicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field [style.width.px]=140 class="mat-date-input-field" appearance="outline">
                <mat-label>End Date</mat-label>
                <input formControlName="DeviceWarrantyEndDate" matInput [matDatepicker]="endPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="endPicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field [style.width.px]=140 class="mat-data-input-field" appearance="outline">
                <mat-label>Device Warranty Remarks</mat-label>
                <input formControlName="DeviceWarrantyRemarks" type="text" matInput
                    placeholder="Enter Device Warranty Remarks...">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>