<div class="section-1">


  <div class="container">
    <div class="section-1-top">
      <div class="add">
        <button mat-raised-button color="primary" (click)="openEditControllerDialog()">
          <mat-icon>add</mat-icon> Add New</button>
      </div>
      <div class="export">

        <div class="export-container">
          <button mat-raised-button color="primary" (click)="exportCSV()">CSV</button>
        </div>
        <!-- <div class="export-container">
              <button mat-raised-button color="primary" (click)="exportTable()">Export As Pdf</button>
            </div>
            <div class="export-container">
              <button mat-raised-button color="warn" (click)="exportAsXl()">Export As XL</button>
            </div> -->
      </div>
      <h1>Data of All Device</h1>
    </div>
    <div class="search">

      <form action="" [formGroup]="searchForm" (ngSubmit)="onSearchClick(page)">
        <mat-form-field>
          <mat-label>Search by name</mat-label>
          <input matInput placeholder="Ex. GrameeenPhone" formControlName="Name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Search by Model no </mat-label>
          <input matInput placeholder="Ex. BdcomNew2023	" formControlName="ModelNo">
        </mat-form-field>

        <mat-form-field>
          <mat-label> Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let data of allStatus" [value]="data.value">
              {{data.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" [disabled]="searchClicked"><mat-icon>search</mat-icon>
          Search</button>

        <div class="clear">
          <button mat-raised-button color="primary" (click)="onClearFilter()">
            <mat-icon>clear</mat-icon> Clear Filter</button>
        </div>
      </form>

    </div>

    <div class="responsive-table">
      <table id="ExampleTable" #table mat-table matTableExporter
        [dataSource]="dataSource | paginate: { itemsPerPage: itemsPerPage, currentPage: page , totalItems:totalItems}"
        matSort class="example-list">
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <div class="edit-delete">
              <button class="edit-button" (click)="openEditControllerDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="delete-button" color="warn" (click)="openConfirmDialog(row)">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button class="alarm-button" color="warn" (click)="openAlarmDialog(row)">
                <mat-icon>alarm</mat-icon>
              </button>
            </div>

          </td>
        </ng-container>
        <ng-container matColumnDef="SlNo">
          <th mat-header-cell *matHeaderCellDef>Sl</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element?.Name }}</td>
        </ng-container>

        <ng-container matColumnDef="ModelNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ModelNo</th>
          <td mat-cell *matCellDef="let element">{{ element?.ModelNo }}</td>
        </ng-container>


        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">{{ element?.Description }}</td>
        </ng-container>

        <ng-container matColumnDef="HowManyPhase">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>HowManyPhase</th>
          <td mat-cell *matCellDef="let element">{{ element?.HowManyPhase}}</td>
        </ng-container>
        <ng-container matColumnDef="Temperature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature sensor</th>
          <td mat-cell *matCellDef="let element">{{ element?.Temperature}}</td>
        </ng-container>

        <ng-container matColumnDef="Humidity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Humidity sensor</th>
          <td mat-cell *matCellDef="let element">{{ element?.Humidity}}</td>
        </ng-container>
        <ng-container matColumnDef="Smoke">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Smoke sensor</th>
          <td mat-cell *matCellDef="let element">{{ element?.Smoke}}</td>
        </ng-container>
        <ng-container matColumnDef="Liquidity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Liquidity sensor</th>
          <td mat-cell *matCellDef="let element">{{ element?.Liquidity}}</td>
        </ng-container>

        <ng-container matColumnDef="Created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let element">
           <div>
            <p> <span>By</span> : {{ element?.CreatedByUser?.first_name }} {{ element?.CreatedByUser?.last_name }}<br>
            </p>
            <p> <span>Time</span> : {{ element?.Created_time | date : 'M/d/yy, h:mm a' }}</p>
           </div>

          </td>
        </ng-container>


        <ng-container matColumnDef="Updated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <p> <span>By</span> : {{ element?.UpdatedByUser?.first_name }} {{ element?.UpdatedByUser?.last_name }}<br>
              </p>
              <p><span>Time</span> : {{ element?.Updated_time | date : 'M/d/yy, h:mm a'}}</p>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status === 0 ? 'Inactive' : 'Active' }}</td>
        </ng-container>


        <div>
          <div class="th-c">
            <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          </div>
          <tr class="row" mat-row class="example-box" *matRowDef="let row; columns: displayedColumns"></tr>
        </div>
      </table>
    </div>

    <!-- //peginatio -->
    <div class="data-pagination" *ngIf="showPegination">
      <pagination-controls (pageChange)="getAllDevice((page = $event))"></pagination-controls>
    </div>
  </div>
</div>