.form-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.dialog-top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.title > h2{
    margin-bottom: 0px;
}

.search-company{
    padding: 10px;
    width: calc(100% - 30px);
}