@import 'src/app/shared/theme/table_style.scss';
.section-1{
    margin-top: 40px;
    padding-top: 40px;
    h1{
      text-align: center;
      margin-bottom: 15px;
    }
   }
   .container{
    max-width: 1250px;
    margin: auto;
   }

  
  