<div class="section-1">
  <div class="container">
    <div class="top-flex">
      <div class="title-export">
        <h1>Data of All Member</h1>
      </div>
    </div>

    <div class="table-container">
      <table id="ExampleTable">
        <tr>
          <!-- <th>Actions</th> -->
          <th>Name</th>
          <th>slag</th>
          <th>ashon_no</th>
          <th>perticipation</th>
          <th>win</th>
          <th>Division</th>
          <th>Sub Division</th>
          <th>Photo</th>
        </tr>
        <tr *ngFor="let data of allMember; let i = index">
          <!-- <pre>{{data | json}}</pre> -->
          <!-- <td class="td-action">
              <button mat-icon-button color="primary" *ngIf="editUserPermission" (click)="editUser(data)"
                class="edit-button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" *ngIf="deleteUserPermission" (click)="openConfirmDialog(data)"
                class="delete-button">
                <mat-icon>delete</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" (click)="openVisibilityDialog(data)" class="view-button">
                <mat-icon>visibility</mat-icon>
              </button>
            </td> -->
          <td class="full-name">
            {{ data?.name }}
          </td>
          <td>{{ data?.slag }}</td>
          <td>{{ data?.ashon_no }}</td>
          <td>{{ data?.perticipation }}</td>
          <td>{{ data?.win }}</td>
          <td>{{ data["division"].name }}</td>
          <td>
            {{ data["sub-division"].name }}
          </td>
          <td>
            <img
              class="pdf-image"
              src="http://localhost:3000/{{ data?.photo }}"
              alt="User Image"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
